#dns_records span.show {
	display: block;
}

span.hostname_full, span.parameter_full {
	display: none;
	background: #fffbce;
	position: absolute;
	margin: -8px -10px 0;
	width: auto;
	padding: 0px 10px;
}

span.hostname_truncated, span.parameter_truncated {
	display: inline;
}

tr.entry td {
	font-size: 0.85em;
	vertical-align: middle;
	border-color: rgba(255, 255, 255, 0.15);
}

span.parameter_full {
	word-wrap: break-word;
	border: 1px solid #999;
}

.dns-menubar ul.tasks {
	list-style: none;
	display: inline-block;
	width: 100%;
}

.dns-menubar ul.tasks li {
	position: relative;
	left: 0;
	width: 48%;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.dns-menubar ul.tasks li:last-child {
	right: 0;
}

td.dns-menubar {
	padding: 2px 5px;
	background: #fafafa url(/images/template/app-layout/switch-head.png) repeat-x top left;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

/** filter */

#reset_filter {
	margin-left: 10px;
	display: none;
}

.ui-active-filters li {
	background-repeat: no-repeat;
	line-height: 16px;
	display: inline-block;
	margin: 0.5em 1em 0.5em 0;
	cursor: pointer;
	color: #666;
}

.ui-active-filters li:hover {
	color: #000;
}

.filter-hostname:after {
	content: " (subdomain)";
	font-size: smaller;
	color: #999;

}

.filter-rr:after {
	content: " (RR)";
	font-size: smaller;
	color: #999;

}

.filter-ttl:after {
	content: " (TTL)";
	font-size: smaller;
	color: #999;
}

.filter-parameter:after {
	content: " (parameter)";
	font-size: smaller;
	color: #999;
}

/** end filter */

table.tablesorter .center {
	padding-left: 5px;
}

.dns_hostname {
	overflow: hidden;
}

.actions {
	width: 170px;
	text-align: center;
}

.dns_class {
	width: 80px;
	text-align: center;
}

tr.entry td:first-child {
	width: 16px;
}

.dns_ttl {
	text-align: center;
	min-width: 80px;
}

.js div#change_domain {
	float: left;
	position: relative;
	top: 2px;
}

.ie span.hostname_full, span.parameter_full {
	position: absolute;
	z-index: 9999;
}

.nojs .toolbox {
	display: none;
}

.dns_class {
	min-width: 40px;
}

span.note {
	line-height: normal;
	float: none;
}

a.switch-app {
	float: none;
	display: block;
	padding-left: 18px;
}

div#note-mode {
	float: left;
	display: inline;
	text-align: center;
}

div.dropshadow-bottom {
	display: block;
	position: relative;
	z-index: 1;
}

.actions .save {
	margin-right: 5px;
}

#dns_records {
	vertical-align: middle;
}

#dns_records .rr-a {
	background: #fff;
	color: #000;
}

#dns_records .rr-aaaa {
	background: #264E36;
	color: #FFF;
}

#dns_records .rr-alias {
	background: #F3E0BE;
	color: #000;
}

#dns_records .rr-caa {
	background: #9F9C99;
	color: #fff;
}

#dns_records .rr-cert {
	background: #797B3A;
	color: #fff;
}


#dns_records .rr-cname {
background: #DD4132;
color: #fff;
}

#dns_records .rr-dnskey {
	background: #FFD662;
	color: #000;
}

#dns_records .rr-ds {
	background: #00539C;
	color: #fff;
}

#dns_records .rr-loc {
	background: #D69C2F;
	color: #000;
}

#dns_records .rr-mx {
background: #E8B5CE;
color: #000;
}

#dns_records .rr-naptr {
	background: #343148;
	color: #fff;
}

#dns_records .rr-ns {
	background: #615550;
	color: #fff;
}

#dns_records .rr-ptr {
	background: #E47A2E;
	color: #fff;
}

#dns_records .rr-smimea {
	background: #eee8aa;
}

#dns_records .rr-spf {
	background: #F1EA7F;
	color: #000;
}

#dns_records .rr-sshfp {
	background: #006E6D;
	color: #fff;
}


#dns_records .rr-srv {
background: #6F9FD8;
color: #000;
}

#dns_records .rr-svcb {
	background: #c229e3;
	color: #000;
}

#dns_records .rr-tlsa {
	background: #00A591;
	color: #fff;
}

#dns_records .rr-txt {
	background: #9E4624;
	color: #fff;
}

#dns_records .rr-uri {
	background: #98DDDE;
	color: #000;
}


tr.entry:hover td {
	background-color: #efefef;
	color: #000;
}

.toolbox-container {
	position: relative;
}

#dns_records .rr-select {
	color: #000;
	min-width: 100px;
}

#dns_records .dns_ttl input {
	min-width: 100px;
}

#domain-picker + .input-group .dropdown-toggle::after {
	margin-left: 0;
}