#output_container {
	overflow: scroll;
	height: 200px;
}

#output_container, #output_status {
	width: 825px;
	overflow: auto;
	position: relative;
	margin: 0 auto;
	max-height: 300px;
}

#output_container {
	overflow: auto;
}

#output_status {
	width: 98%;
	height: 290px;
}