[Unit]
Description=Bandwidth accounting and reconcilement
After=local-fs.target apnscp.service

[Service]
EnvironmentFile=-/etc/sysconfig/apnscp
ExecStart=/usr/bin/apnscp_php {{ apnscp_root }}/bin/scripts/bwcron.php

[Install]
WantedBy=multi-user.target
