[Unit]
Description=upcp update service
After=local-fs.target
Before=platform-scrub.service
ConditionPathExists={{ apnscp_root }}/storage/.installed

[Service]
EnvironmentFile=-/etc/sysconfig/apnscp
ExecStart={{ apnscp_build_helper }}

[Install]
WantedBy=multi-user.target
