alias spamc="spamc -u $LOGNAME@$HOSTNAME"
alias df="df 2> /dev/null"
alias quota="quota 2> /dev/null"
alias ln="ln -r"
PGHOST=127.0.0.1
MAIL={{ maildir_location}}
HOSTNAME=`/bin/hostname 2>/dev/null`
MAILTO=$USER@$HOSTNAME
PERL5LIB=/usr/local/lib/perl5/site_perl
RUBY_CONFIG_OPTS="--prefix=/usr/local/"
JAVA_OPTS="-Xmx256M"
ANT_OPTS=$JAVA_OPTS
GS_DEVICE="display"
MAKEFLAGS='-j{{ compile_max_jobs }} -l{{ ansible_processor_vcpus * 1.25 }}'
export HOSTNAME MAKEFLAGS PGHOST
[[ -f /proc/self/oom_score_adj ]] && echo 600 > /proc/self/oom_score_adj
