[Unit]
Description=Redis service for rspamd
After=network.target
After=network-online.target
Before=rspamd.service
Wants=network-online.target

[Service]
ExecStart=/usr/bin/redis-server {{ rspamd_redis_config_path }} --supervised systemd
ExecStop=/usr/libexec/redis-shutdown {{ rspamd_redis_config_path | regex_replace('^/etc/|\.conf$', '') }}
Type=notify
User={{ rspamd_user }}
Group={{ rspamd_user }}
LimitNOFILE=10032
PIDFile={{ rspamd_redis_pid_file }}

[Install]
WantedBy=multi-user.target
