zend_extension={{ php_module_directory }}/opcache.so
; Tuned by telemetry module
opcache.memory_consumption={{ [ansible_memtotal_mb * 0.03, 128] | min | int }}M
; Tuned by telemetry module
opcache.interned_strings_buffer=16
; Tuned by telemetry module
opcache.max_accelerated_files={{ [1000000, ([10 * [ansible_memtotal_mb * 0.03, 128] | int, 1024] | max)] | min }}
opcache.revalidate_freq={{ opcache_revalidate_frequency | default(3) }}
opcache.enable_cli=0
opcache.enable_file_override=1
opcache.validate_timestamps=1
opcache.huge_code_pages=0
; Cannot redeclare class errors
; more prevalent on large servers
opcache.dups_fix=0
{% if php_durable_filecache %}
; Overrun memory limits. Large memory allowances
; predispose to deadlocks
opcache.file_cache=/var/cache/httpd/cache-root
{% endif %}
{% if system_php_version is version('8.0', '>=') %}
opcache.jit_buffer_size=0
opcache.jit=function
{% endif %}
