#!/bin/sh

export NVM_DIR="$HOME/.nvm"
LAZY_LOAD_NODE=${LAZY_LOAD_NODE:-{{ nvm_lazy_load | ternary("1", "0") }}}

load_nvm() {
	unset -f load_nvm nvm node npm
	[ -s "{{ nvm_git_target }}/nvm.sh" ] && . "{{ nvm_git_target }}/nvm.sh" # This loads nvm
}

if [[ $LAZY_LOAD_NODE -eq 0 ]]; then
	[ -s "{{ nvm_git_target }}/nvm.sh" ] && . "{{ nvm_git_target }}/nvm.sh"
	return 0 2>/dev/null
fi

nvm() {
	load_nvm
	nvm "$@"
}

node() {
	load_nvm
	node "$@"
}

npm() {
	load_nvm
	npm "$@"
}

# Helper script directly invokved
if [[ $0 == $BASH_SOURCE ]]; then
	nvm "$@"
fi
