#app-dashboard.role-admin .usage-gauges div {
	max-width: none !important;
}
#processTable {
	max-height: 125vh;
	overflow-y: auto !important;
	overflow-x: initial;
	overflow: hidden;
	padding-left: 1rem;
}

.label-pair {
	margin-bottom: 0;
}

.ui-state-active {
	background: Highlight;
	color: HighlightText;
}

#argos .ui-action-restart {
	margin-right: 0;
}

#argos .ui-action-restart::before {
	margin-right: 0 !important;
}

#argos .status-indicator {
	font-size: 0.618em;
}